/*image en smartphone*/
#image .imageSM{
    width:100%;
    height:100%;
}
/*caroussel*/
#image #slider{
    width: 80%; 
    max-width: 1000px; 
}
#image #slider figure{
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
#image #slider figure img{
    width:20%;
    height:auto;
    float:left;
}
#image #slider{
    width:80%;
    max-width:1000px;
    overflow:hidden;
}
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
#image #slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 20s slidy infinite;
}
/*destinations*/
#destinations{
    background-color:#b8ff6b;
    color:#015e13;
}
#destinations div img {
    width:100px;
}
/*background de la page en mode paysage*/
@media only screen and (min-width:768px){
    .page{
    height:2000px;
    background-image: url(images/japon.jpg);
    background-size:cover;
    background-attachment:fixed;
}
}